.input_align_right .v-text-field__slot > input {
  text-align: right;
}
.container_card {
  min-height: 700px;
}
.modal_main {
  max-height: 800px;
  overflow: hidden;
}
.modal_section {
  max-height: 600px;
  overflow: auto;
}
